@font-face {
    font-family: 'Gilroy';    
    font-weight: normal;
    font-size: 16px;
    src:url("../fonts/gilroy-Medium.ttf") format("truetype");
}
/*.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
  }*/
  .modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
  }
   
  .modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }
   /*
  .modal__content {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
  }*/
   
  .modal__close-button {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
  }
   
  .modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
  }
   
  .modal__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0 0 15px;
  }
   
  .modal__description {
    font-size: 1.125rem;
  }
  /*.hidden {
    overflow: hidden;
  }
  

body{
	height: 100vh;
	margin: 0;
	padding: 0;
}
.imdiz-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
        z-index: 99;
        transition: all .3s;
        visibility: hidden;
        opacity: 0;
}
.imdiz-modal{
    width: 400px;
    height: 400px;
    position: fixed;
    z-index: 100;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
    background-color: #fff;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
}
.imdiz-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -18px;
    right: -35px;
    cursor: pointer;
}
.imdiz-close:before, .imdiz-close:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 36px;
    background: #fff;
}
.imdiz-close:before {
    transform: rotate(45deg);
}
.imdiz-close:after {
    transform: rotate(-45deg);
}*/
/*
.vmodal {}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.vmodal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}
.vmodal.open .modal-window {
    transform: translateY(100px);
} 

.vmodal.open .modal-overlay {
    background: rgba(0, 0 , 0, .5);
} 

.vmodal.hide .modal-window {
    transform: translateY(-200px);
} 

.vmodal.hide .modal-overlay {
    background: rgba(0, 0 , 0, 0);
}

.modal-window, .modal-overlay {
    opacity: 0;
    z-index: -1;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0 , 0, 0);
    transition: background .2s ease-in;
}

.modal-window {
    width: 40%;
    height: auto;
    margin: 0 auto;
    
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translate(-200px);
    transition: transform .2s ease-in;    
}*/


.modal-content {
    /*width: 40%;
    height: auto;
    margin: auto auto;
    
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translate(-200px);
    transition: transform .2s ease-in; 
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;*/

    width: 100%;
    max-width: 350px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px black;
}

p.modal-header {
    padding: 5px 10px;
    display: flex;
    justify-content: right;
    /*justify-content: space-between;
    border-bottom: 1px solid #eee;*/
    
}
.modal-header {
    /*font-size: 16px;*/
    text-align: center;    
    font-family: 'Gilroy', 'Arial',sans-serif;
    margin-bottom: 24px;
}
.modal-title {
    /*font-size: 1.5rem;    */
    font-size: 2em;
    font-weight: 600;
    line-height: 1.23;
    border-radius: 5px;
    /*margin-bottom: 11px;*/
}
.modal-header-title p {
    font-size: 0.9em;
    line-height: 1.55;
    font-weight: 300;
}
.modal-form {
    margin-top: 0;
}

.modal-form-text {
    display: block;
    width: 100%;                          
    /*vertical-align: middle;*/
    height: 100%;
    /*padding-right: 10px;*/
    font-size: 1.2em;
    line-height: 1.55;
    color: #000;
    font-family: 'Gilroy', 'Arial',sans-serif;
    font-weight: 300; 
    text-align: left;
}
.modal-field, .modal-phone {        
        outline: 0;        
        background-color: transparent!important;        
        
        border: 1px solid #C0C0C0;
        margin: 0;
        height: 60px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 1.33;
        width: 100%;        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;        
        font-family: 'Gilroy', 'Arial',sans-serif;
}
.modal-form-name {
    margin-bottom: 20px;
    /*color: #000000;
    border: 1px solid #000000;*/
}

.modal-close {
    cursor: pointer;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    /*padding: 5px 10px;
    border-top: 1px solid #eee;*/ 

    
}

.modal-button {
    width: 100%;
    height: 54px;
    position: relative;
    font-size: 1em;
    color: #fff;
    background-color: #ffba0c;
    font-family: 'Gilroy', 'Arial',sans-serif;
    font-weight: 500;
    cursor: pointer;
    /*-webkit-border-radius: 5px;*/
    border: 0;
}
