@font-face {
    font-family: 'Gilroy';
    /*font-style: normal;*/
    font-weight: normal;
    font-size: 16px;
    src:url("./fonts/gilroy-Medium.ttf") format("truetype");
}
a {
    text-decoration: none;
}
*{
    margin:0; padding:0;
}

body {
    display: block;    
    /*background:#f2f2f2;    
    font-family: 'Gilroy', 'Arial',sans-serif; */   
}   

.t-body {
    height: 660px;
    /*background-image: url("./images/image_3.png");*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #f1efec;
    background-size: cover;    
}

div, h1, h2 {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}*/
/*header {
    background-image: url("./images/image_3.png");   
    
}
.header {    
    height: 660px;    
    background-image: url("./images/image_3.png");
       background-color: #cecbc4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    opacity: 0.55;
    font-family: 'Gilroy', 'Arial',sans-serif;
}

.header {
    height: 660px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #cecbc4;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    font-family: 'Gilroy', 'Arial',sans-serif;
}

@media (max-width: 480px) {
    .header {
        background-image: url("./images/image_3.png");
    }
}
@media (min-width: 481px) and (max-width: 767px) {
   .header {
       background-image: url("./images/image_3.png");
    }
}
@media (min-width: 768px) and (max-width: 1279px) {
    .header {
        background-image: url("./images/image_3.png");        
    }
}
@media (min-width: 1280px) and (max-width: 1439px) {
    .header {
        background-image: url("./images/image_3.png");
    }
}
@media (min-width: 1440px){
    .header {
        background-image: url("./images/image_3.png");
    }
}

.big-title {
    /*display: block;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;  
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateZ(0);  
}*/
    .main {
        /*display: block;
        height: 660px;
        min-height: 420px;
        max-height: 660px;*/
    
        /*background-image: url("./images/image_3.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #cecbc4;
        background-size: cover;
        font-family: 'Gilroy', 'Arial',sans-serif;
        /*padding-left: 10%;
        padding-right: 10%;
        padding-top: 1%;*/
        
        min-width:980px;max-width:1200px;
        margin:0 auto;
    }
        .header {    
            /*display: table-cell;
            vertical-align: middle;
            display: flex;
            width: 80%;
            padding-left: 10%;
            padding-right: 10%;*/
            padding-top: 1%;
            overflow:hidden;
            -webkit-text-size-adjust:100%;
        
            /*margin-left: auto;
            margin-right: auto;
            display: block;text-align: right;*/
        }
            .logo-foto {
                width: 120px;
                height: 66px;
                /*display: block; width: 100%; border-color: transparent;
                background-position: center center;border-style: solid;*/      
                border-radius: 15px;     
                float: left; 	
            }
            .logo {
                display: flex;
                float: right;
                padding-top: 1%;
            }
                .logo-phone {
                    /*float: right;*/
                    text-align: right;
                    margin-right: 20px;
                }
                    .phone1 {
                        color: #000000;     
                        font-family: 'Gilroy', 'Arial',sans-serif;   
                        font-size: 1.25em;        
                        /*font-size: 20px;
                        font-family: 'Gilroy', 'Arial', sans-serif;
                        text-align: right;*/
                        font-weight: 500;   
                        line-height: 1.3; 
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .phone2 {
                        color: #ffba0c;
                        font-family: 'Gilroy', 'Arial',sans-serif;
                        font-size: 0.875em;
                        line-height: 1.3;
                        /*font-size: 14px;
                        font-family: 'Gilroy', 'Arial', sans-serif;
                        text-align: right;font-weight: 400;*/
                        text-decoration: underline;   
                        font-weight: 400;
                    }
                .logo-button {
                    
                    text-align: center;
                    /*width: 230px;margin: 24px;
                    height: 47px;
                    top: 18px;
                    left: 1164.5px;
                    float: right; 
                    text-align: center; 
                    border-width: 1px;
                    border-radius: 10px;            
                    border-color: #ffba0c;
                    border-style: solid; */  
                }
                a.button-logo {
                    display: inline-block;
                    font-family: 'Gilroy', 'Arial',sans-serif;
                    color: #000;
                    padding: 12px 35px;
                    border-radius: 10px;
                    background-position: center center;
                    font-size: 0.875em;
                    /*font-size: 14px;*/
                    line-height: 1.55;
                    font-weight: 400;
                    border-width: 1px;
                    border-color: #ffba0c;
                    border-style: solid;
                }
                
                
                /* .button {          
                    
                        
                    background-position: center center;
                    margin-left: 10px; 
                    
                    font-size: 14px;                  
                    line-height: 1.55;    font-weight: 400;
                    padding: 47px 230px;
                    padding: 13px 13px;
                    padding-bottom: 13px;                
                    padding: 50% 50%;line-height: 1.55;
                    cursor: pointer; 
                                                                
                    }*/

        .title {              
            /*top: 170px;
            left: 23px;*/
            width: 100%;       
            /*padding-bottom: 45px;*/
            position: relative;
        }
            .title-name {                
                margin-top: 6%;
                float:left;
                width: 55%;
                height: 500px;
                text-align: left;
                /*background-color: aqua;*/
                position: relative;
            }
                .title-name-text {                    
                    /*position: absolute;
                    line-height: 1.3;*/
                    line-height: 55px;
                }            
                    .title-name-text-h1 {
                    /* display: inline-block;*/                        
                        color: #000000;
                        font-family: 'Gilroy', 'Arial',sans-serif;
                        font-size: 2.625em;
                        /*font-size: 2.5rem;
                        font-size: calc(1rem + 2vw);
                        font-size: 42px;*/
                        font-weight: 700;
                        width: 100%;
                        line-height: 1.3;
                        border-color: transparent;
                        border-style: solid;
                        background-position: center center;                        
                        /*
                        padding-top: 5%;
                        
                        float: right;
                        z-index: 2;*/
                    }
                    .title-name-text-2 {
                        /*margin-top: 130px;*/
                        line-height: 1.3;  
                         
                    }
                        .title-name-text-21 {
                            color: rgb(255, 186, 12);
                            font-family: 'Gilroy', 'Arial',sans-serif;
                            font-weight: 800;
                            font-size: 1.375em;

                            /*font-size: 22px;*/
                        }
                        .title-name-text-22 {
                            color: #000000;
                            font-family: 'Gilroy', 'Arial',sans-serif;
                            font-weight: 300;
                            font-size: 1.375em;

                            /*font-size: 22px;*/
                        }
                    .title-name-text-3 {
                        margin-top: 3%; 
                        /*line-height: 28px;*/
                    }
                        .title-name-text-31 {
                            color: #000000;
                            font-weight: 300;
                            font-family: 'Gilroy', 'Arial',sans-serif;
                            font-size: 1em;
                            background-position: center center;
                            border-color: transparent;
                            border-style: solid;                            
                        }
                    .title-name-button {
                        margin-top: 9%;                 
                    }
                        .title-name-button-foto{
                            float:left;
                            width: 50%;
                            padding-right: 5%;
                            position: relative;
                        }
                        .title-name-text-41 {
                            text-align: left;
                            margin-top: 2%;
                            float:left;
                            width: 40%;
                            color: #000000;
                            font-family: 'Gilroy', 'Arial',sans-serif;
                            font-weight: 300;
                            font-size: 0.875em;
                            line-height: 18px;
                        }
                            .title-name-text-41 span {                                
                                font-weight: 600;                                
                            }
                    .title-name-text-4 {
                        margin-top: 29%;                        
                        width: 55%;
                        display: block;
                    }
                        .title-name-text-4-foto {
                            float:left;
                            position: relative;
                            width: 20%;
                            /*width: 70px;
                            height: 48px;*/
                            padding-right: 5%;
                            
                        }
                        .title-name-text-4-text {
                            margin-top: 1%;
                            text-align: left;
                            float: left;
                            width: 70%;
                            line-height: 18px;

                            /*font-size: 16px;
                            
                            color: #000;
                            font-weight: 400;                          
                            font-weight: 100;*/
                        }
                            .title-name-text-4-text {
                                font-family: 'Gilroy', 'Arial',sans-serif;
                                font-size: 1em;
                                color: #000;
                                font-weight: 300;
                            }
                            .title-name-text-4-text span {
                                font-weight: 600;
                            }
            .title-name-foto {
                float: right;
                width: 45%;                
                background-position: center center;
            }
                .title-foto {                       
                    width: 100%;
                    height: 100%;
                    /*padding: 54px;
                    width: 50%;float: right;*/
                }
       /* .suggestions {
            position: relative;
            padding-top: 5%;
            padding-bottom: 5%;
        }*/
        .suggestion {
            position: relative;
            padding-top: 5%;
            padding-bottom: 5%;
            background-color: aquamarine;
            
            /*
            margin-right: auto;
            margin-left: auto;flex-direction: column;display: block;
            margin-top: 5%;
            position: relative;
            
            height: 220px;*/
            width: 100%;          
            /*padding-top: 5%;*/
            display: flex;
            }
            
            /*.suggestion .suggestion-wrapper .suggestion-items {  
                width: 50%; display: flex;
            }
                    */
            .suggestion-items {
                display: flex;
                width: 50%;
                font-family: 'Gilroy', 'Arial',sans-serif;
            }
            /*.works .works-wrapper .works-items .works-img {
                height: 300px;
            }*/
            .suggestion-wrapper{
                display: flex;
                margin-left: 3%;
                margin-right: 3%;

            }
            .suggestion .suggestion-wrapper .suggestion-items .suggestion-img img {
                width: 115px;
                height: 115px;
            }
            .suggestion-items:nth-child(1) {
                margin-right: 5%;

            }
            .suggestion .suggestion-wrapper .suggestion-about {
                color: black;
                font-size: 1em;
                
            }
            .suggestion-about {
                margin-left: 5%;
                margin-right: 5%;
            }
            .suggestion-img {
                display:flex;
                /*justify-content: center; центрируем элемент по горизонтали */
                align-items: center;
            }   
            .suggestion-name {
                display: block;                        
                font-size: 1.25em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: 600;
                line-height: 27px;
                /*font-size: 20px;*/
            }

        .showcase {
            position: relative;
            background-color: #f6baba;
            /*height: 550px;
            padding-top: 15%;
            padding-bottom: 15%;*/
            height: 550px;
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            /*margin-left: 3%;
            margin-right: 3%;*/
            padding-left: 3%;
                padding-right: 3%;
        }
            .showcase-block {
                position: absolute;
                margin-top: 7%;
                margin-bottom: 7%;
                box-sizing: border-box;
                width: 94%;                
                border-color:#ffffff;
                border-radius: 30px;
                border-style: solid;
                background-color: #ffffff;
                background-position: center center;
                box-shadow: 0px 0px 5px 0px rgb(138, 138, 138);
                
                -webkit-text-size-adjust: 100%;   

            }
                .showcase-block-title {
                    display: flex;
                    vertical-align: middle;
                    height: 375px;
                }
                    .showcase-block-title-photo {
                        width: 453px;                        
                        display: block;
                        border-radius: 30px;
                    }
                    .showcase-block-title-text {
                        line-height: 28px;
                        padding: 5%;
                        text-align: left;
                        font-family: 'Gilroy', 'Arial',sans-serif;
                        font-size: 1.625em;
                        /*font-size: 26px;*/
                        font-weight: 400;
                        line-height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        /*width: 6em;*/
                    }
                        .showcase-block-title-text span {
                            font-weight: 600;
                        }
                        .showcase-block-title-text strong{
                            line-height: 55px;
                            color: #ffba0c;
                                font-size: 1.75em;
                                /*line-height: 1.55;*/
                                line-height: 2;
                                font-weight: 700;
                            
                        }   /*                        
                            .showcase-block-title-text-1 strong {
                                color: #ffba0c;
                                font-size: 42px;
                                line-height: 1.55;
                                font-weight: 700;
                            }*/
                    .showcase-block-title-text-2 {
                        line-height: 28px;
                        font-size: 0.7em;
                        /*font-size: 18px;*/
                        font-weight: 300;
                        top: 265px;
                        left: 646.5px;
                        width: 450px;
                    }
                    .showcase-block-title-button {
                        text-align: left;
                        vertical-align: middle;
                        top: 345px;
                        left: 698px;
                        width: 270px;
                        height: 67px;
                        margin-top: 4%;                   
                        /*margin-left: 10px;           */      
                    }
                        a.button-showcase {                        
                            display: inline-block;
                            font-family: 'Gilroy', 'Arial',sans-serif;
                            color: #fff;
                            padding: 22px 75px;
                            border-radius: 15px;                            
                            font-size: 0.55em;
                            /*font-size: 14px;*/
                            line-height: 1.55;
                            font-weight: 400;
                            background-color: #ffba0c;
                            background-position: center center;
                            border-color: transparent;
                            border-style: solid;                          
                            
                        }


        .what-we-create {
            display: block;            
            position: relative;
            background-color: rgb(180, 245, 245);
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            height: 780px;
            padding-top: 30px;
            /*padding-bottom: 50px;*/
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;            
        }
            .what-we-create-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.625em;
                color: #000;
                font-family: 'Gilroy', 'Arial',sans-serif;
                font-weight: 700;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                line-height: 65px;
            }
            .works{
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
            }
                .work {
                    box-sizing: border-box;
                    padding: 20px 25px;
                    width: 25%;
                    text-align: center;
                }                
                    .work-photo{
                        width: 100%;                        
                        border-radius: 15px;

                    }
                    .work-name {
                        display: block;
                        font-weight: 700;
                        font-size: 1.25em;
                        /*margin-top:10px ;*/
                        color: #000;
                        font-family: 'Gilroy', 'Arial',sans-serif;
                        font-weight: 400;
                        background-position: center center;
                        border-color: transparent;
                        border-style: solid;
                        line-height: 31px;
                        margin-top: 5px;

                    }
                    a.button-work {
                        display: inline-block;
                        font-family: 'Gilroy', 'Arial',sans-serif;
                        color: #fff;
                        padding: 8px 35px;
                        border-radius: 10px;
                        background-position: center center;
                        font-size: 0.875em;
                        /*font-size: 14px;*/
                        line-height: 1.55;
                        font-weight: 400;
                        border-width: 1px;
                        background-color: #ffba0c;
                        background-position: center center;
                        border-color: transparent;
                        border-style: solid;
                        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
                    }

        .cost-calculation{
            display: block;            
            position: relative;
            background-color: rgb(231, 235, 235);
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            height: 780px;
            padding-top: 45px;
            padding-bottom: 45px;
            text-align: center;
            /*padding-left: 5%;
            padding-right: 5%;        */    

        }
            .cost-calculation-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.625em;
                color: #000;
                font-family: 'Gilroy', 'Arial',sans-serif;
                font-weight: 700;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                line-height: 65px;
            }




        .our-work{
            display: block;            
            position: relative;
            background-color: rgb(170, 215, 74);
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            /*height: 500px;
            padding-top: 45px;*/
            padding-bottom: 30px;
            text-align: center;
            /*padding-left: 5%;
            padding-right: 5%;        */    

        }
            .our-work-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.625em;
                color: #000;
                font-family: 'Gilroy', 'Arial',sans-serif;
                font-weight: 700;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                line-height: 65px;
            }
/*
            %transition_all_03s {
                transition:all .3s ease;
              }
              %backface_visibility_hidden{
                backface-visibility:hidden;
                -webkit-backface-visibility:hidden;
              }
              */
              *, *:before, *:after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
              }
              
              .swiper-container {
                width: 80%;
                height: 100vh;
                /* display:inline-block;
                // vertical-align:top;*/
                float:left;
                transition:opacity .6s ease, transform .3s ease;
              }

                    .swiper-container nav-slider{
                    width:20%;
                    padding-left:5px;}

                    .swiper-slide{
                        cursor:pointer;
                        opacity:.4;
                        transition:opacity .3s ease;}

                        .swiper-slide-active{
                        opacity:1;
                        }
                        .content{
                        width:100%;}
                        .title{
                            font-size:20px;
                        }
                
                        
                  .swiper-container:hover swiper-button-prev,
                  .swiper-container:hover swiper-button-next{
                    transform:translateX(0);
                    opacity:1;
                    visibility:visible;
                  }
                  .swiper-container loading{
                  opacity:0;
                  visibility:hidden;
                }
              
              /*.swiper-wrapper{
              
              }*/
              .swiper-slide{
                overflow: hidden;
                /*@extend %backface_visibility_hidden;*/}
                .slide-bgimg{
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                  background-position:center;
                  background-size:cover;
                }
                .entity-img{
                  display:none;
                }
                .content{
                  position:absolute;
                  top:40%;
                  left:0;
                  width:50%;
                  padding-left:5%;
                  color:#fff;}
                  .title{
                    font-size:2.6em;
                    font-weight:bold;
                    margin-bottom:30px;
                  }
                  .caption{
                    display:block;
                    font-size:13px;
                    line-height:1.4;
                    transform:translateX(50px);
                    opacity:0;
                    transition:opacity .3s ease, transform .7s ease;}
                    .caption show{
                      transform:translateX(0);
                      opacity:1;
                    }
               
              [class^="swiper-button-"]{
                width:44px;
                opacity:0;
                visibility:hidden;
                /*@extend %transition_all_03s;*/
              }
              .swiper-button-prev{
                transform:translateX(50px);
              }
              .swiper-button-next{
                transform:translateX(-50px);
              }




        .clients{
            display: block;            
            position: relative;
            background-color: rgb(228, 185, 214);
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            padding-top: 45px;
            padding-bottom: 45px;
            text-align: center;
            /*padding-left: 5%;
            padding-right: 5%;        */    

        }
            .clients-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.625em;
                color: #000;
                font-family: 'Gilroy', 'Arial',sans-serif;
                font-weight: 700;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                line-height: 65px;
            }




        .contacts{
            display: block;            
            position: relative;
            background-color: rgba(191, 190, 190, 0.637);
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            padding-top: 45px;
            padding-bottom: 45px;
            text-align: center;
            /*padding-left: 5%;
            padding-right: 5%;        */    

        }
            .contacts-title{
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.625em;
                color: #000;
                font-family: 'Gilroy', 'Arial',sans-serif;
                font-weight: 700;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                line-height: 65px;
            }